<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        FakePinterest
        {% endblock %}
    </title>
</head>
{%block body%}
<body>
    <h1>Fake Pinterest no ar</h1>

    <h2>Continuando o site</h2>

    {% block formulario %}
    <form method="POST">
    {{ form.csrf_token }}

    <div>
        {{ form.email.label }} {{ form.email() }}
    </div>

    <div>
        {{ form.senha.label }} {{ form.senha() }}
    </div>

    <div>
        {{ form.botao_confirmacao() }}
    </div>
    </form>

    <a href="{{url_for('criarconta')}}">Criar Conta</a>

    {% endblock %}


</body>
{% endblock %}
</html>